<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LinkedList test">
<parameter name="appURL" value="http://demoqa.com/"/> 
<!--  <parameter name="browser" value="chrome"/>-->
<!-- <parameter name="groups" value="all"/> -->
  <test name="basicTest">
    <classes> 
      <class name="org.collections.lists.LinkedListOperationsTest"/> 
      
    </classes>
  </test>
</suite>